h1{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 3rem;
    margin: 30px auto 50px;
}

p{
  margin-top: 150px;
  font-size: 6rem;
  font-weight: 900;
  color: white ;
}

body{
    font-family: 'Cabin';
    background-image: url("/images/hearts.jpg");
    /* background-image: radial-gradient(circle); */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.form-control{
   width: 240px;
   height: 25px;
   margin-bottom: 25px;
   border-radius: 50px;
   border: solid rgb(255, 0, 212);
   border-width: 4px;
   padding: 10px;

   
   /* border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat; */


}

.form-control:hover{
    box-shadow: 1px 1px 10px white;
}


.btn {
    font-size: 0.9rem;
    font-weight: 600;
    width: 140px;
    height: 45px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: solid;
    border-width: 3px;
    border-radius: 50px;
    margin: 0px 5px 0px;
  }
  
  .btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50px;
  }
  
  .btn:active {
    color: black
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:hover:before {
    opacity: 1;
  }
  
  .btn:hover{
   color: white;
  }
  
  .btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    
    left: 0;
    top: 0;
    border-radius: 50px;
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  
  .btn1{
    width: 230px;
    height: 52px;
  }